.wrapper {
	width: 90%;
	max-width: 1536px;
	margin-inline: auto;
	position: relative;
	height: 64px;
	// margin-top: 5rem;
	overflow: hidden;
	mask-image: linear-gradient(to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 1) 20%,
			rgba(0, 0, 0, 1) 80%,
			rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
	to {
		left: -200px;
	}
}

@keyframes scrollRight {
	to {
		right: -200px;
	}
}

.item,
.itemReverse {
	width: 64px;
	height: 64px;
	// background-color: red;
	// border-radius: 6px;
	position: absolute;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.item {
	left: max(calc(64px * 10), 100%);
	animation-name: scrollLeft;
}

.itemReverse {
	right: max(calc(64px * 10), 100%);
	animation-name: scrollRight;
}

.item1 {
	animation-delay: calc(30s / 10 * (10 - 1) * -1);
}

.item2 {
	animation-delay: calc(30s / 10 * (10 - 2) * -1);
}

.item3 {
	animation-delay: calc(30s / 10 * (10 - 3) * -1);
}

.item4 {
	animation-delay: calc(30s / 10 * (10 - 4) * -1);
}

.item5 {
	animation-delay: calc(30s / 10 * (10 - 5) * -1);
}

.item6 {
	animation-delay: calc(30s / 10 * (10 - 6) * -1);
}

.item7 {
	animation-delay: calc(30s / 10 * (10 - 7) * -1);
}

.item8 {
	animation-delay: calc(30s / 10 * (10 - 8) * -1);
}

.item9 {
	animation-delay: calc(30s / 10 * (10 - 9) * -1);
}

.item10 {
	animation-delay: calc(30s / 10 * (10 - 10) * -1);
}

.itemReverse11 {
	animation-delay: calc(30s / 10 * (11 - 1));
}

.itemReverse12 {
	animation-delay: calc(30s / 10 * (11 - 2));
}

.itemReverse13 {
	animation-delay: calc(30s / 10 * (11 - 3));
}

.itemReverse14 {
	animation-delay: calc(30s / 10 * (11 - 4));
}

.itemReverse15 {
	animation-delay: calc(30s / 10 * (11 - 5));
}

.itemReverse16 {
	animation-delay: calc(30s / 10 * (11 - 6));
}

.itemReverse17 {
	animation-delay: calc(30s / 10 * (11 - 7));
}

.itemReverse18 {
	animation-delay: calc(30s / 10 * (11 - 8));
}

.itemReverse19 {
	animation-delay: calc(30s / 10 * (11 - 9));
}

.itemReverse20 {
	animation-delay: calc(30s / 10 * (11 - 10));
}